app_domain(daxservice_app)

allow daxservice_app {
  activity_service
  activity_task_service
  audio_service
  audioserver_service
  autofill_service
  bluetooth_manager_service
  gpu_service
  surfaceflinger_service
}:service_manager find;
