type sysfs_battery_supply, sysfs_type, fs_type;
type sysfs_graphics, sysfs_type, fs_type;
type vendor_sysfs_battery_supply, sysfs_type, fs_type;
type vendor_sysfs_usb_supply, sysfs_type, fs_type;
type vendor_sysfs_usbpd_device, sysfs_type, fs_type;

type thermal_data_file, file_type, data_file_type;
