get_prop(gmscore_app, vendor_default_prop)
get_prop(gmscore_app, adbd_prop)

allow gmscore_app linkerconfig_file:dir r_dir_perms;
allow gmscore_app bt_firmware_file:filesystem getattr;
allow gmscore_app firmware_file:filesystem getattr;

dontaudit gmscore_app hal_memtrack_hwservice:hwservice_manager find;
