# Allow system_server to set vendor_persist_camera_prop
get_prop(system_server, vendor_camera_prop)
get_prop(system_server, vendor_persist_camera_prop)

# Allow system_server to getpgid app_zygote
allow system_server app_zygote:process getpgid;
